@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.55);
}

.btn {
    display: flex;
    background: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: auto;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(0.98);
}

.btn-block {
    display: block;
    width: 100%;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
}

/* .form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 7px;
    font-size: 17px;
} */

.form-control-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-control-check label {
    flex: 1;
}

.form-control-check input {
    flex: 2;
    height: 20px;
}

.center {
    text-align: center;
}

.label-text {
    font-size: 1.2rem;
}

select {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    font-size: 0.8rem;
    padding: 1em 3em 1em 1.5em;
    background: rgb(255, 255, 255);
    border: 1px solid black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
